@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-family: 'Roboto', sans-serif;
}

/* Title */

.title {
    text-align: center;
}

.title h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

/* Card Container */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 40%;
    perspective: 1000px;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: scale(1);
    transition: transform .5s;
}

.front-face, .back-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}

/* Display Score */

.display-score {
    display: flex;
    width: 20%;
    justify-content: space-between;
}